
button{
  margin:5px;
  padding:12px;
  background-color:black;
  border-color:rgb(131,127,127);
  border-radius:3%;
  color:bisque; 
  font-weight:bolder;
}
.main{
  padding-top:2%;
  border-color:black;
  text-align:center;
  margin-top:1%;
  border:1px solid rgb(131,127,127);
  background:wheat;
  margin:"auto";
  width:40vw;
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  justify-content: center;
  margin-left:3%;
  padding-bottom:2%;
  border-radius:3%;
}
input{
  padding:20px;
  border:none;
  border-radius:4%; 
  width:100%;
  margin-left:-5%;
}
.result{
  color:black;
  font-size:40px;
}
